node_modules
__pycache__/
.venv/
*.swp
*log
*.pkl
.png
*.jpeg
*.jpg
.ico
*unused*
secret/
.env

# Haskell stuff

# ignore compiled files witout extension (see https://stackoverflow.com/a/19023985):
haskell-test/*
!haskell-test/**/
!haskell-test/*.*

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
